* {
  overflow:hidden;
}

.container {
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  background-color: orange;
}

.top {
  height: 400px;
  width: 1000px;
  background-color: red;
}

.bottom {
  height: 200px;
  background-color: blue;
}

.player-one, .player-two{
  height: 400px;
  width: 200px;
  display: inline-block;
  margin-right: -4px;
  background-color: #A9A9A9;
}

/*Stolen from css tricks*/
.flip-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.cat-space {
  height: 400px;
  width: 600px;
  display: inline-block;
  background-color: #3A3A3F;
  margin-right: -4px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.cat-icon {
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 28%;
    margin-bottom: -10%;
}

.reset-screen{
  height: 400px;
  width: 600px;
  display: inline-block;
  background-color: #3A3A3F;
  margin-right: -4px;
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

button {
  height:50px;
  width: 100px;
  background-color: #FFFF9F;
  font-family: 'Press Start 2P', cursive;
  margin-top: 10%
}

.player-one-text, .player-two-text{
  width:200px;
  height:200px;
  display:inline-block;
  margin-right: -4px;
  background-color: black;
  font-size: 44px;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  line-height: 100px;
}

.user-choices{
  width: 600px;
  height: 200px;
  display: inline-block;
  margin-right: -4px;
  background-color: #C0C0C0;
  overflow: hidden;
}

.user-choices div{
  width:600px;
  height:50px;
  line-height: 50px;
  text-indent: 30px;
  overflow: hidden;
  font-size: 8px;
  font-family: 'Press Start 2P', cursive;
  font-stretch: condensed;
}

.user-choices div:hover{
  background-color: #FFFF9F;
}

.selected-move{
  background-color: #FFFF9F;
}

.hide{
  visibility: hidden;
}

.display-none{
  display: none;
}
