* {
  overflow:hidden;
}

.logo{
  height: 100px;
  margin: 0 auto;
}

.container {
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  background-color: orange;
}

.top {
  height: 400px;
  width: 1000px;
  background-color: red;
}

.bottom {
  height: 200px;
  background-color: blue;
}

.player-one, .player-two{
  height: 400px;
  width: 200px;
  display: inline-block;
  margin-right: -4px;
  background-color: #A9A9A9;
}

.cat-space {
  height: 400px;
  width: 600px;
  display: inline-block;
  background-color: #D3D3D3;
  margin-right: -4px;
}

.cat-space img {
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 25%;
}

.player-one-text, .player-two-text{
  width:200px;
  height:200px;
  display:inline-block;
  margin-right: -4px;
  background-color: black;
  font-size: 50px;
  color: white;
  text-align: center;
}

.user-choices{
  width: 600px;
  height: 200px;
  display: inline-block;
  margin-right: -4px;
  background-color: pink;
  overflow: hidden;
}

.user-choices div{
  width:600px;
  height:50px;
  background-color:#C0C0C0;
  background: linear-gradient(#C0C0C0	, #FFFFFF, #C0C0C0);
  font-size: 22px;
  line-height: 50px;
  text-indent: 20px;
  overflow: hidden;
}
